﻿@using System.Web.Mvc.Html
@using Sitecore.Mvc
@model WFFM.Recaptcha.Forms.MVC.Models.RecaptchaField

<div class="@Model.CssClass field-border">
    <div class="@Model.CssClass field-panel">
        @Html.HiddenFor(field => field.Value)

        <span class="@(Model.CssClass + " field-title")">
            @Html.Sitecore().Field("Title", Model.InnerItem)
        </span>

        <div id="recaptcha" class="g-recaptcha" data-sitekey="@Model.RecaptchaPublicKey"></div>
    </div>
</div>

<script src="https://www.google.com/recaptcha/api.js" async defer>
</script>
